<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML & CSS Fundamentals</title>

</head>
<body>
<h1><%= @time %></h1>
<h2><% @name %></h2>
<h1>THIS IS THE CONTENT</h1>
<p>
<a href="http://google.com">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, dignissimos, laudantium? Aliquam quod voluptas ipsam ipsum ut laborisam placeat magnum ratione aperiam sint possimus mollitia quia, assumenda alias, unde veniam!</a>
</p>
<h2>Here is Something Else</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, dignissimos, laudantium? Aliquam quod voluptas ipsam ipsum ut laborisam placeat magnum ratione aperiam sint possimus mollitia quia, assumenda alias, unde veniam!
</p>
</body>
</html>
